@model WebWhatsUp.Models.Contacts
@{
    ViewBag.Title = "Add a new contact";
}

<h2>Add a new contact</h2>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.LabelFor(i => i.Name)
    @Html.TextBoxFor(i => i.Name)
    @Html.ValidationMessageFor(i => i.Name)
    <br />
    <br />
    @Html.LabelFor(i => i.Email)
    @Html.TextBoxFor(i => i.Email)
    @Html.ValidationMessageFor(i => i.Email)
    <br />
    <br />
    <input type="submit" value="Create Contact" />
}

